.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.searchContainer {
  margin-bottom: 2rem;
}

.groupsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xlarge);
}

.title {
  margin-bottom: var(--spacing-small-medium);
}
