.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 56rem;
  padding: 0 1rem;
}

.groupItem {
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-family: var(--font-geist-sans);
  background-color: var(--group-bg-color);
  color: var(--group-text-color);
}
