.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: var(--font-geist-sans);
  color: #333333;
}
