.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeButton {
  padding: 0.5rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-geist-sans);
  transition: background-color 0.2s;
}

.homeButton:hover {
  background-color: #1f2937;
}

.button {
  padding: 0.5rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-geist-sans);
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #1f2937;
}
