.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xx-large);
}

.headerRight {
  display: flex;
  gap: var(--spacing-xsmall);
}

.icon {
  color: var(--primary-heading-color-dark);
}

.homeButton {
  border: none;
  cursor: pointer;
  font-family: var(--logo-font);
  color: var(--primary-theme-color);
  font-size: var(--font-size-heading-medium-large);
  font-weight: bolder;
}
