.container {
  width: 100%;
  max-width: 56rem;
  padding: 0 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: var(--font-geist-sans);
  color: #333333;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: var(--font-geist-sans);
  color: #666666;
}

.notesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
