/* ALL INPUTS */

input.error {
  border-bottom: 1px solid var(--snackbar-error-color);
}

.errorMessage {
  height: 5px;
  color: var(--snackbar-error-color);
  font-weight: 400;
  font-size: var(--font-size-body-xsmall);
}

/* SUBMIT INPUT */

.submitInput {
  font-size: var(--font-size-body-medium);
  padding: var(--spacing-small) var(--spacing-medium);
  margin-top: var(--spacing-xx-large);
  margin-bottom: 300px;
  /* margin-top: var(--spacing-medium); */
}

/* TEXT INPUT */

.textInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.textInput label {
  font-size: var(--font-size-body-xsmall);
  text-transform: uppercase;
}

.textInput input {
  font-weight: 300;
  width: 300px;
  max-width: 70vw;
  height: 30px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  font-size: var(--font-size-body-medium);
}

.textInput input::placeholder {
  opacity: 0.7;
}

/* TEXT INPUT */

.textAreaInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.textAreaInput label {
  font-size: var(--font-size-body-xsmall);
  text-transform: uppercase;
  margin-bottom: var(--spacing-small);
}

.textAreaInput textarea {
  font-weight: 300;
  width: 100%;
  height: 300px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  font-size: var(--font-size-body-medium);
}

.textAreaInput textarea::placeholder {
  opacity: 0.7;
}

/* COLOR INPUT */

.colorInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.colorInput label {
  font-size: var(--font-size-body-xsmall);
  text-transform: uppercase;
  margin-bottom: var(--spacing-small);
}

.colorInputContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.colorInput input[type="color"] {
  font-weight: 300;
  width: 100px;
  height: 40px;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  cursor: pointer;
  background: none;
  flex-shrink: 0;
}

.colorInput input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}

.colorTextInput {
  font-weight: 300;
  width: 120px;
  height: 30px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  font-size: var(--font-size-body-medium);
}

.colorTextInput::placeholder {
  opacity: 0.7;
}

/* SELECT INPUT */

.selectInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.selectInput label {
  font-size: var(--font-size-body-xsmall);
  text-transform: uppercase;
  margin-bottom: 1px;
  margin-left: 4px;
}

.selectInput select {
  /* padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px; */
  font-weight: 300;
  width: 150px;
  max-width: 70vw;
  padding: var(--spacing-xsmall) 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  font-size: var(--font-size-body-medium);
}

.selectInput select.error {
  border-bottom: 1px solid var(--snackbar-error-color);
}

/* multiselect */

.multiSelectInput {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-medium) var(--spacing-xx-small) 0;
}

.multiSelectInput label {
  font-size: var(--font-size-body-xsmall);
  text-transform: uppercase;
  margin-bottom: var(--spacing-xsmall);
}

.multiSelectInput select {
  height: 100px;
  border: 1px solid var(--content-box-separator-color);
}

.multiSelectInput option {
  padding: 4px 8px;
  font-weight: 300;
}

.multiSelectInput option:checked {
  background-color: var(--secondary-gray-color);
}

/* CHECKBOX INPUT */

.checkboxInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--spacing-medium);
}

.checkboxInput label {
  font-weight: 300;
  font-size: var(--font-size-body-medium);
  margin-top: -4px;
}

.checkboxInput input {
  margin-right: var(--spacing-xsmall);
  width: 20px;
  height: 20px;
}

/* IMAGE ARRAY INPUT */

.arrayRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.arrayRow .textInput {
  margin-top: 0;
}

/* MEDIA QUERIES */

/* SEARCH INPUT */

.searchInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  width: 100%;
  border-bottom: 1px solid var(--primary-border-color);
}

.searchIcon {
  color: var(--primary-border-color);
  flex-shrink: 0;
}

.searchInputField {
  font-weight: 200;
  width: 100%;
  height: 35px;
  padding: var(--spacing-xsmall) 0;
  border: none;
  font-size: var(--font-size-body-large);
  background: transparent;
}

.searchInputField::placeholder {
  opacity: 0.7;
  font-weight: 200;
}

@media (max-width: 1050px) {
  .classRow .textInput {
    margin-bottom: var(--spacing-medium);
  }

  .weaponSection {
    grid-template-columns: 1fr;
  }

  .weaponSection > div {
    margin-bottom: 0;
  }
}
