/* ALL INPUTS */

input.error {
  border-bottom: 1px solid var(--primary-error-color);
}

.errorMessage {
  margin-top: var(--spacing-xsmall);
  height: 5px;
  color: var(--primary-error-color);
  font-weight: 400;
  font-size: var(--font-size-body-xsmall);
}

/* TEXT INPUT */

.textInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.textInput label,
.textAreaInput label,
.selectInput label,
.colorInput label {
  font-size: var(--font-size-body-small);
  margin-bottom: var(--spacing-xsmall);
  /* text-transform: uppercase; */
}

.textInput input {
  font-family: var(--body-font);
  font-weight: 300;
  width: 300px;
  max-width: 70vw;
  height: 30px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
  font-size: var(--font-size-body-medium-large);
}

.textInput input::placeholder {
  opacity: 0.7;
  font-weight: 300;
}

/* TEXT INPUT */

.textAreaInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.textAreaInput textarea {
  font-family: var(--body-font);
  font-weight: 300;
  width: 100%;
  height: 200px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
  font-size: var(--font-size-body-medium-large);
}

.textAreaInput textarea::placeholder {
  opacity: 0.7;
}

/* COLOR INPUT */

.colorInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.colorInputContainer {
  display: flex;
  gap: var(--spacing-small-medium);
  align-items: center;
}

.colorInput input[type="color"] {
  font-weight: 300;
  width: 100px;
  height: 40px;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--content-box-border-color);
  cursor: pointer;
  background: none;
  flex-shrink: 0;
}

.colorInput input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}

.colorTextInput {
  font-weight: 300;
  width: 120px;
  height: 30px;
  padding: var(--spacing-xx-small) 0;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
  font-size: var(--font-size-body-medium-large);
}

.colorTextInput::placeholder {
  opacity: 0.7;
}

/* SELECT INPUT */

.selectInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.selectInput select {
  font-family: var(--body-font);
  font-weight: 300;
  width: 150px;
  max-width: 70vw;
  padding: var(--spacing-xsmall) 0;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
  font-size: var(--font-size-body-medium-large);
}

.selectInput select.error {
  border-bottom: 1px solid var(--primary-error-color);
}

.selectInput select.emptySelect {
  opacity: 0.7;
}

/* MEDIA QUERIES */

/* SEARCH INPUT */

.searchInput {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-xx-small) 0;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  width: 100%;
  border-bottom: 1px solid var(--primary-border-color);
}

.searchIcon {
  color: var(--primary-border-color);
  flex-shrink: 0;
}

.searchInputField {
  font-weight: 200;
  width: 100%;
  height: 35px;
  padding: var(--spacing-xsmall) 0;
  border: none;
  font-size: var(--font-size-body-large);
  background: transparent;
}

.searchInputField::placeholder {
  opacity: 0.7;
  font-weight: 200;
}

@media (max-width: 1050px) {
  .classRow .textInput {
    margin-bottom: var(--spacing-medium);
  }
}
