.item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.item:hover {
  opacity: 0.9;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.name {
  font-size: 1rem;
  font-family: var(--font-geist-sans);
  color: #333333;
  margin: 0;
  text-align: center;
}
