.container {
  width: 100%;
}

.searchContainer {
  margin-top: var(--spacing-small-medium);
  margin-bottom: var(--spacing-xlarge);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: var(--spacing-xlarge);
}
