.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-small-medium);
}

.title {
  font-size: var(--font-size-heading-large);
  font-weight: 700;
  margin: 0;
}

.editButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.editButton:hover {
  opacity: 0.7;
}

.description {
  font-size: var(--font-size-body-medium-large);
  margin-bottom: var(--spacing-xxx-large);
  font-weight: 300;
}

.boardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
