.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 250px;
}

.container h1 {
  margin-bottom: var(--spacing-medium);
}

.button {
  background-color: var(--primary-theme-color);
  color: #ffffff;
  border: none;
  border-radius: var(--card-border-radius);
  padding: var(--spacing-small) var(--spacing-medium-large);
  font-size: var(--font-size-body-medium-large);
  cursor: pointer;
  transition: background-color 0.2s;
}
