.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: var(--spacing-xx-large) var(--spacing-xlarge);
  max-width: 600px;
  width: 90%;
  max-height: 75vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Full screen on tablet and smaller */
@media (max-width: 768px) {
  .modal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* max-height: 100%; */
    border-radius: 0;
  }
}

.title {
  font-size: var(--font-size-heading-medium);
  font-weight: 700;
  margin-bottom: var(--spacing-medium);
}
