.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  border-radius: var(--card-border-radius);
  padding: var(--spacing-small-medium);
  padding-right: 0;
  max-width: 900px;
  width: 90%;
  /* max-height: 90vh; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-large);
  align-items: stretch;
  flex: 1;
  min-height: 0;
}

.imageContainer {
  flex: 0 0 auto;
  max-width: 70%;
  /* width: 50%; */
  /* max-width: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--card-border-radius);
  object-fit: cover;
}

.textContainer {
  margin: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing-medium); */
  overflow-y: auto;
  min-height: 0;
}

.name {
  font-size: var(--font-size-heading-small-medium);
  font-weight: 400;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small-medium);
  /* font-weight: 700; */
}

.linkContainer {
  margin-bottom: var(--spacing-large);
}

.linkContainer svg {
  vertical-align: middle;
  margin-right: var(--spacing-xsmall);
}

.link {
  font-size: var(--font-size-body-medium);
  color: var(--primary-theme-color);
  text-decoration: none;
  word-break: break-all;
  line-height: 1.25;
}

.link:hover {
  text-decoration: underline;
}

.description {
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  line-height: 1.5;
  flex-grow: 1;
  margin-bottom: var(--spacing-xlarge);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: var(--font-size-body-xsmall);
}
