body {
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-heading-large);
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--font-size-heading-medium);
  }
}

.card-name {
  font-size: var(--font-size-heading-small-medium);
  margin-bottom: var(--spacing-small);
  color: var(--group-text-color);
  font-weight: 700;
}

.card-count {
  font-size: var(--font-size-body-small);
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: var(--spacing-large);
}

.card-description {
  margin: 0;
  font-size: var(--font-size-body-medium);
  line-height: 1.5;
  opacity: 0.85;
  flex-grow: 1;
  margin-bottom: var(--spacing-large);
}

.card-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card-date-container span {
  font-size: var(--font-size-body-xsmall);
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.form-buttons {
  display: flex;
  gap: var(--spacing-small-medium);
  justify-content: flex-end;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-xlarge);
}

.form-edit-buttons {
  display: flex;
  gap: var(--spacing-small-medium);
}

.cancel-button,
.submit-button,
.delete-button {
  font-size: var(--font-size-body-medium-large);
  padding: var(--spacing-small) var(--spacing-medium-large);
  border-radius: var(--card-border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancel-button {
  border: 1px solid var(--primary-theme-color);
  opacity: 0.8;
}

.cancel-button:hover {
  background-color: #d1d5db;
}

.delete-button {
  background-color: var(--primary-error-color);
  color: #ffffff;
}

.delete-button:hover {
  background-color: #1f2937;
}

.submit-button {
  background-color: var(--primary-theme-color);
  color: #ffffff;
}

.submit-button:hover {
  background-color: #1f2937;
}

/* Responsive grid */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cancel-button,
  .submit-button,
  .delete-button {
    font-size: var(--font-size-body-small);
  }
}
