body {
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-heading-large);
}
